/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* -------------------CSS Reset--------------------- */

/* -------------------CSS Home--------------------- */
body{
    font-family:'Montserrat';
    font-size: 16px;
    background-color: #000000;
    color: #FFF;
    box-sizing: border-box;
}
header{
    height:500px;
    background: black url("../img/header.jpg") no-repeat center;
    background-size: cover;
    padding-bottom: 300px;
    font-weight: 700;
}
.header1{
    height:500px;
    background: black url("../img/julian2.jpg") no-repeat center;
    background-size: cover;
    padding-bottom: 300px;
    font-weight: 700;
}
main{
    padding: 0 2.25rem;
}

h1 {
    font-size: 3.5rem;

}
h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

h3 {
    font-size: 1rem;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: grey;
}
blockquote{
    font-size: 1.5rem;
}
.quote{
    margin: 3rem;
    line-height: 4rem;
}
.webdesign{
    /* height: 220px; */
    background: grey url("../img/web1.jpg") no-repeat center bottom;
    background-size: cover;
    /* padding-bottom: 300px; */
    margin-top: 100px;
}
.photo{
    /* height: 220px; */
    background: grey url("../img/photp.JPG") no-repeat center bottom;
    background-size: cover;
    /* padding-bottom: 300px; */
    margin-top: 100px;
}
.dvideo{
    /* height: 220px; */
    background: grey url("../img/drone.jpg") no-repeat center bottom;
    background-size: cover;
    /* padding-bottom: 300px; */
    margin-top: 100px;
}
.design{
    /* height: 220px; */
    background: grey url("../img/design.jpg") no-repeat center bottom;
    background-size: cover;
    /* padding-bottom: 300px; */
    margin-top: 100px;
}
.navbar-brand img{
    width: 50 !important;
    height: 50 !important;
}
#button1{
    margin-top: 1em;

}

.opa1, .opa2, .opa3, .opa4 {
    width: 100%;
    padding: 100px;
    line-height: 30px;
}

.opa1, .opa2, .opa3, .opa4 h2 {
    text-align: center;
    
}
.design{
    margin-bottom: 50px;
}
.design1{
    margin-bottom: 50px;
}
.data{
    display: none;
}
.menufooter{
    display: none;
}
.contact a{
    font-weight: bold;
    line-height: 4rem; 
    margin-bottom: 3rem;
    text-decoration: none;
    color: white;
    padding-bottom: 5rem;
}
.contact {
    margin-bottom: 3rem;
}
.input-style{
    background-color: black;
    border-color: white;
    border-radius: 5px;
    color: white;
    padding: 9px;
}
.btn{
    border-color: white;
    color: black;
    background-color: white;
}
footer{
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: 
    "copy social";
}
.copy{
    grid-area: copy;
    font-size: 0.95rem;
    margin-left: 20px;

}
.copy h3{
    font-size: 0.95rem;
}
.social{
     grid-area: social;
     margin-left: 30px;
     
}
.social a{
    color: white;
    padding-left: 10px;
    
}
.fab, .far {
    font-size: 20px;
}
.navbar .nav-item .dropdown-menu{ 
    display: none; 
}
.navbar .nav-item:hover .dropdown-menu{ 
    display: block; 
}
.navbar .nav-item .dropdown-menu{ 
    margin-top:0; 
}
/* ---------------- About Page Style -----------------*/
.about{
    margin: 2rem;
}
.bio1 h1{
    font-weight: bold;
    margin-bottom: 20px;
}
.bio1 p{
    display: none;
}
.bio2{
    line-height: 30px;
}
.bio3 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 100%;
}
.bio4{
  line-height: 30px;
  margin-top: 30px;
}
.bio5 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 100%;
}
.bio6{
    line-height: 30px;
    margin-top: 30px;
}
.network{
    text-align: center;
    margin-bottom: 100px;
    
}
.network a{
   text-align: center;
   color: white;
   padding-left: 10px;
   
}
.network .fab, .network .far {
    font-size: 45px;
    padding-left: 10px;
}
/* ---------------- Works Page Style -----------------*/

main h1{
    font-weight: bold;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 100px;
}
.navbar-nav{
    font-weight: bold;
}
.webdesign1{
    /* height: 220px; */
    background: grey url("../img/web.jpg") no-repeat center;
    background-size: cover;
    /* padding-bottom: 300px; */
    margin-top: 100px;
}
.photo1{
    /* height: 220px; */
    background: grey url("../img/photp.JPG") no-repeat center bottom;
    background-size: cover;
    /* padding-bottom: 300px; */
    margin-top: 100px;
}
.dvideo1{
    /* height: 220px; */
    background: grey url("../img/pilot.jpg") no-repeat center;
    background-size: cover;
    /* padding-bottom: 300px; */
    margin-top: 100px;
}
.design1{
    /* height: 220px; */
    background: grey url("../img/ASD.jpg") no-repeat center ;
    background-size: cover;
    /* padding-bottom: 300px; */
    margin-top: 100px;
}
/* ---------------- Experience Page Style -----------------*/
.html5 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 50%;
    background-color: white;
    
}
.css3 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 30%;
    background-color: white;
    padding: 10px;
}
.adobe img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 30%;
    
}
.js img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 30%;
    background-color: white;
    padding: 10px;
}
.visual img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 30%;
    background-color: white;
    padding: 10px;
}
ul {
    list-style-type: square;
    margin-left: 180px;
    margin-top: 40px;
    font-size: 1.5rem;
}
.education h3{
    font-size: 2rem;
    text-align: center;
    margin-top: 50px;
}
.education img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 70%;
}
.expphoto img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 90%;
}
.creative h3{
    font-size: 2rem;
    text-align: center;
    margin-top: 50px;
}
.creative ul {
    list-style-type: circle;
    margin-left: 150px;
    margin-top: 40px;
    font-size: 1.5rem;
}
.exptext p {
    list-style-type: circle;
    margin-left: 80px;
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 1.5rem;
}
/* ---------------- Web design Page Style -----------------*/
.icgc a img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 100%;
}
.fund a img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 100%;
}
.blue a img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 100%;
}
.landing a img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 100%;
}
.bootstrap a img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 100%;
}
.wdesign h3{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
    line-height: 50px;
    margin-bottom: 50px;
}
/* ---------------- Drone Page Style -----------------*/
iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 100%;
}
/* ---------------- Design Page Style -----------------*/
.gdesign img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    background-color: white;
    border-radius: 5%;
    padding: 20px;

}
.gdesign h2{
    text-align: center;
    margin-top: 30px;
}
/* ---------------- Photography Page Style -----------------*/
.photograph img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}
/* ---------------- Tablet Screen Styles -----------------*/
@media screen and (min-width: 760px){
    
    .content{
        padding-left: 25px;
        padding-right: 60px;
    }
    #button1{
        margin-top: 0em;
    
    }
    
    .footer{
        display: grid;
        padding: 1rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas: 
        "contact menufooter";
    }
    .menufooter{
        display: inline;
        grid-area: menufooter;
        margin-left: 150px;
    }
    .contact{
        grid-area: contact;
        
    }
    .menufooter a{
        text-decoration: none;
        color: white;
        padding-bottom: 10px;
    }
    .social{
        margin-left: 150px;
    }
    .copy{
        margin-left: 40px;
    }
    .icons{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "html5 adobe visual"
        "css3 js visual";
    }
    .design1 .opa4 p{
        text-align: center;
    }
    blockquote{
        text-align: center;
    }
    .html5{
        grid-area: html5;
    }
    .css3{
        grid-area: css3;
    }
    .adobe{
        grid-area: adobe;
    }
    .js{
        grid-area: js;
    }
    .visual{
        grid-area: visual;
        margin-top: 80px;
    }
    .icons{
        margin: 50px;
    }
    .html5 img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        width: 50%;
        background-color: white;
        
    }
    .css3 img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        width: 50%;
        background-color: white;
        padding: 10px;
    }
    .adobe img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        width: 50%;
        
    }
    .js img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        width: 50%;
        background-color: white;
        padding: 10px;
    }
    .visual img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        width: 50%;
        background-color: white;
        padding: 10px;
    }
    .gdesign img{
        width: 60%;
    }

}
/* ---------------- Desktop Screen Styles -----------------*/
@media screen and (min-width:1024px){
    .content{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "quote quote quote  photo photo"
        "web web web drone drone"
        "web web web design design"
        ;
        margin-bottom: 40px;
    }
    .quote{
        grid-area: quote;
        
    }
    #button1{
        margin-top: 0em;
    
    }
    blockquote{
        margin-top: 80px;
    }
    .webdesign{
        grid-area: web;
    }
    .photo{
        grid-area: photo;
        margin-left: 20px;
    }
    .dvideo{
        grid-area: drone;
        margin-left: 20px;
    }
    .design{
        grid-area: design;
        margin-left: 20px;
        
    }
    .webdesign1{
        grid-area: web;
    }
    .photo1{
        grid-area: photo;
        margin-left: 20px;
    }
    .dvideo1{
        grid-area: drone;
        margin-left: 20px;
    }
    .design1{
        grid-area: design;
        margin-left: 20px;
        
    }
    .opa1{
        padding-top: 300px;
    }
    .opa2{
        padding-top: 120px;
    }
 
   
  
    .footer{
        display: grid;
        padding: 1rem;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas: 
        "contact  data menufooter";
    }
    .contact{
        grid-area: contact;
    }
    .data{
        display: block;
        grid-area: data;
    }
    .menufooter{
        
        grid-area: menufooter;
        margin-left: 100px;
    }
    .social{
        margin-left: 300px;
    }
    .about{
        display: grid;
        margin-top: 100px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        "bio1 bio2"
        "bio3 bio4"
        "bio3 bio5"
        "bio6 bio5";
    }
    .bio1{
        grid-area: bio1;
    }
    .bio2{
        grid-area: bio2;
        padding-right: 50px;
    }
    .bio3{
        grid-area: bio3;
    }
    .bio4{
        grid-area: bio4;
        padding-right: 50px;
    }
    .bio5{
        grid-area: bio5;
    }
    .bio6{
        grid-area: bio6;
    }
    .bio1 p{
        display: block;
        margin-left: 100px;
        margin-right: 200px;
        margin-top: 50px;
    }
    .bio3 img{
        display: block;
        margin-left: 0px;
        margin-right: auto;
        margin-top: 30px;
        width: 70%;
    }
    .bio5 img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        width: 70%;
    }
    .experience{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "icons exp"
        "education creative"
        "exptext expphoto";
        margin: 40px;
    }
    .icons{
        grid-area: icons;
    }
    .exp{
        grid-area: exp;
    }
    .education{
        grid-area: education;
    }
    .expphoto{
        grid-area: expphoto;
    }
    .creative{
        grid-area: creative;
    }
    .exptext{
        grid-area: exptext;
    }
    .html5 img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        width: 80%;
        background-color: white;
        
    }
    .css3 img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        width: 70%;
        background-color: white;
        padding: 10px;
    }
    .adobe img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        width: 80%;
        
    }
    .js img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        width: 80%;
        background-color: white;
        padding: 10px;
    }
    .visual img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        width: 80%;
        background-color: white;
        padding: 10px;
    }
    .wdesign{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "icgc fund"
        "blue landing"
        "bootstrap bootstrap";
        margin: 40px;
    }
    .icgc a img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        width: 80%;
    }
    .drone{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "v1 v2"
        "v3 v4";
        margin: 70px;
    }
    .v1, .v2, .v3, .v4{
        margin: 1rem;
    }
    .d1{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "i1 i2"
        "i3 i4";
        margin: 70px;
    }
    .i1, .i2, .i3, .i4, .i5, .i6{
        margin: 1rem;
    }
    .d2{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "i5 i7"
        "i6 i6";
        margin: 70px;
    }
    .i5{
        grid-area: i5;
    }
    .i6{
        grid-area: i6;
    }
    .i7{
        grid-area: i7;
    }
    .gdesign img{
        width: 90%;
    }
    .i6 img{
        width: 40%;
    }
    .photograph{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        "p1 p2"
        "p3 p4"
        "p5 p6"
        "p7 p8";
        margin: 70px;
    }
    .p1, .p2, .p3, .p4, .p5, .p6, .p7, .p8{
        margin: 1rem;
    }



    
}

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ 
        display: none; 
    }
	
	.navbar .nav-item:hover .dropdown-menu{ 
        display: block; 
    }
	.navbar .nav-item .dropdown-menu{ 
        margin-top:0; 
    }
}





