/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;

}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CSS for the website */
html {
    font-size: 16px;
}

/* Container= main CSS */
.container {

    background-color: rgba(255, 255, 255, 0.3) !important;
    margin: 0em 10em 0em 10em;
}

/* Body CSS */
body {
    width: 100%;

    font-family: Arial, Helvetica, sans-serif;
    background-color: #aad4cf;
}


/* CSS for the Header */
#head {
    color: white;
    clear: both;
    position: relative;
    background: rgba(170, 212, 207, 0.4) url("../images/lone-starfish-wide.jpg") no-repeat center center;
    background-size: cover;
    font-size: 5rem;
    padding: 3em 0em 1em 0em;
    width: 100%;
    text-align: center;

}

/* Mavigation bar CSS */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0px;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

main {
    width: 100%;
    margin: 0 auto;

}

nav ul li {
    display: inline-block;
    width: 33%;
    border-color: black;
    padding: 1em 1em 1em 8em;
    box-sizing: border-box;

}

nav ul a {
    display: block;
    color: inherit;
    text-decoration: none;
    font-size: 1.5rem;
    border-right: 1px solid black;

}

nav {
    top: 0;
    left: 0;
    width: 100%;

    z-index: 999;
}

/* CSS for H2 */
h2 {
    font-size: 1.5em;
}

/* CSS for Article */
article {
    padding: 3em 1em 1em 1em;

}

/* CSS for the images */
img {
    width: 200px;
    float: left;
    padding: 1em 1em 1em 1em;
}

/* CSS for H3 */
h3 {
    font-size: 1.5em;
    padding: 1em 1em 1em 0.5em;


}

/* CSS for Contact box and Form */
#contact {
    width: 96%;
    border: 1px solid black;
    padding: 1.5em;
    box-sizing: border-box;
    margin: 1em;
}

ul {
    margin: 0 !important;
}

label {
    padding: 1em 0em 0em 0em;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;

}

input[type="radio"i] {
    padding: 0em 0em 0em 0em;
    width: auto;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: none;
}

button {
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid black;
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

/* CSS for the Footer */
footer {
    text-align: right;
    padding: 2em 2em 2em 2em;
}