/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ------CSS Reset-------- */
/* ------ CSS for Home Webpage ------ */
html {
    box-sizing: border-box;
}

/* Including the font family for the Website */
body {
    font-family: lust-script-display, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;

}

/* Font styles for the site */
h1 {
    font-size: 3rem;

}

h2 {
    font-size: 2.375rem;
}

h3 {
    font-size: 1rem;
}

p {
    margin: 0rem 0;
    font-size: 0.8rem;
    padding: 1rem;
    font-family: coquette, sans-serif;
}

/* The header uses flex row for all the elements of the header */
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #ffe98a;
}

/* Style for the logo */
.logo {
    width: 100px;
    padding-right: 10px;
    padding-left: 20px;

}

/*  style for the title H1 of the page */
header h1 {
    font-size: 2rem;
    text-align: center;
    margin-left: 20px;
}

/* Style for the shopping cart icon */
.cart img {
    width: 40px;
    margin-left: 70px;
}

/* Style to put the  round logo in the center of the page  */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 1em;
}

/* Style for the container of the menu div */
.menu {
    background: url("../img/menupic.jpg") no-repeat center center;
    background-size: cover;
    height: 300px;

}

/* Erase the decoration for the link */
.content a {
    text-decoration: none;
}

/* Animations for each container */
.shapes:hover {
    transform: rotatex(1turn);
    transition: 2s;
}

.menu:hover {
    transform: rotatex(1turn);
    transition: 2s;
}

.promo:hover {
    transform: rotatex(1turn);
    transition: 2s;
}

.flavour:hover {
    transform: rotatex(1turn);
    transition: 2s;
}

/* the second logo center is not display in mobile screens */
.logocenter2 {
    display: none;
}

/* Giving opacity to the menu image */
.opacity {
    background-color: rgba(206, 132, 173, 0.5);
    height: 300px;
}

/* Style for the h2 */
.opacity h2 {
    text-align: center;
    color: white;
    line-height: 300px;
}

/* Style for the container of the promo div */
.promo {
    background: url("../img/promopic.jpg") no-repeat center center;
    background-size: cover;
    height: 300px;
}

/* Giving opacity to the Promo image */
.opacity2 {
    background-color: rgba(122, 204, 243, 0.5);
    height: 300px;
}

/* Style for the h2 */
.opacity2 h2 {
    text-align: center;
    color: white;
    line-height: 300px;
}

/* Style for the container of the flavour div */
.flavour {
    background: url("../img/flavourspic.jpg") no-repeat center center;
    background-size: cover;
    height: 300px;
}

/* Giving opacity to the Flavour image */
.opacity3 {
    background-color: rgba(255, 255, 255, 0.3);
    height: 300px;
}

/* Style for the h2 */
.opacity3 h2 {
    text-align: center;
    color: white;
    line-height: 300px;
}

/* Style for the container of the shapes div */
.shapes {
    background: url("../img/shapepic.jpg") no-repeat center center;
    background-size: cover;
    height: 300px;
}

/* Giving opacity to the shapes image */
.opacity4 {
    background-color: rgba(200, 179, 215, 0.5);
    height: 300px;
}

/* Style for the h2 */
.opacity4 h2 {
    text-align: center;
    color: white;
    line-height: 300px;
}

/* style for each social media icon */
.fa-facebook,
.fa-twitter,
.fa-linkedin,
.fa-instagram {
    display: inline;
    font-size: 37px;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}

/* align for the social container */
.social {
    margin-top: 10px;
    text-align: center;
}

/* Flex column for the mobile screens, giving style to the footer section  */
footer {
    display: flex;
    flex-direction: column;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    line-height: 1.5rem;
    background-color: #ffe98a;
    color: black;
}

footer h3 {
    text-align: center;
    padding-top: 30px;
}

.inf p {
    text-align: center;
    padding: 0;
}

/* Media Query for screens 768px and more */
@media screen and (min-width:768px) {

    /* For the content using Grid and position relative to be able to put the logo in the center */
    .content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "menu promo"
            "flavour shapes";
        position: relative;
    }

    /* For each child container giving the grid-area */
    .menu {
        grid-area: menu;
    }

    .promo {
        grid-area: promo;
    }

    .flavour {
        grid-area: flavour;
    }

    .shapes {
        grid-area: shapes;
    }

    /* Style the container of the logo to be rounded and potition absolute 
    to be positioned at the center and not moving */
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 10%;
        height: 15%;
        border-radius: 50%;
        padding: 2rem;
        background-color: white;
        position: absolute;
        text-align: center;
        top: 25%;
        left: 42%;
        margin-top: 70px;
        margin-left: -10px;
    }

    /* For the flex in the header justifiyng the content to be spacious arround the container */
    header {
        justify-content: space-around;
    }

    /* Aligning the footer section */
    .inf p {
        text-align: center;
        padding: 0;
    }

    /* Putting the logo center for the screens and to be able to animate the containers */
    .logocenter2 {
        display: block;
    }

}

/* Media Query for screens 1024px and more */
@media screen and (min-width:1024px) {

    /* Changing the footer with grid to positionate each container */
    footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas:
            "copy not social";
    }

    /* Giving grid areas to the child containers */
    .footer h3 {
        grid-area: copy;
    }

    .social {
        grid-area: social;
    }

    .inf p {
        text-align: center;
        padding: 0;
    }

    .inf {
        grid-area: copy;

    }

    .logocenter2 {
        display: block;
    }


}